nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(153, 84, 218, 0.836);
    padding-top: 25px;
    padding-bottom: 25px;
}
button{
    height: 50px;
    width: 150px;
    border: 3px solid rgb(250, 248, 248);
    border-radius: 15px;
    background-color: aqua;
    color: rgb(2, 2, 2);
}
button:hover{
    background-color: rgb(76, 171, 226);
    border: 3px solid rgba(74, 18, 230, 0.555);
    border-radius: 25px;
    color: white;
}